.shop{
  width : 100%; 
  background-color:white; 
  display: grid; 
  grid-template-columns: auto auto auto;
  text-align: center; 
}

.card{ 
    background-color:gray; 
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
} 

.item-button{ 
    padding: 10px; 
    border-radius: 10px; 
    background-color:whitesmoke; 
}

