*{
    padding: 0; 
    margin: 0;
} 

.header{
    width: 100%;
    background-color: rgb(170, 218, 241);
    display: flex;
}
.logo{
    width:50%;
}
.header-links{
    width: 50%; 
}

.header-links ul{
    width: 100%;
    display: flex; 
    justify-content: flex-end;
    padding-top:10px; 
    padding-right: 30px;
} 

.header-links ul li{
    margin-top:10px; 
    margin-bottom: 10px;
    margin-left: 10px; 
    margin-right: 30px;
    list-style: none; 
}
.Home{
    width: 100%;
}
.welcome{
    width:100%;
    background-color: yellow;
}

.links{
    text-decoration: none;
    color: #fff;   
}